{% extends 'base.html' %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>

<div class="container-fluid charts-grid">
    <div class="row g-4">

        <!-- Carte d'information -->
        <div class="col-md-6">
            <div class="info-card">
                <h2>Exemple visuel</h2>
                <p>Une librairie javascript a été intégrée dans l'application permettant d'intégrer des graphiques
                    facilement. Vous pouvez retrouver tous les exemples et les codes source sur le site
                    <a href="https://www.chartjs.org/" target="_blank">Chart.js. </a>

                </p>
            </div>
        </div>
        <!-- Graphique en Camembert -->
        <div class="col-md-6">
            <div class="chart-card">
                <div class="card-body">
                    <h6 class="chart-title">Graphique en Camembert</h6>
                    <div class="chart-container">
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Graphique en Barres -->
        <div class="col-md-6">
            <div class="chart-card">
                <div class="card-body">
                    <h6 class="chart-title">Graphique en Barres</h6>
                    <div class="chart-container">
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <!-- Graphique Linéaire -->
        <div class="col-md-6">
            <div class="chart-card">
                <div class="card-body">
                    <h6 class="chart-title">Graphique Linéaire</h6>
                    <div class="chart-container">
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/pieChart.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/barChart.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lineChart.js') }}"></script>

{% endblock %}