.container-fluid {
  padding: 50px;
  border-radius: 10px;
  color: white;
  margin: 20px auto;
  background-image: linear-gradient(to right, #002B49, #00CCFF, #91F0FF, #DF0024);
  text-align: center;
  font-size: 1rem;
 }
